body {
	background-color: #eee;
}

#tutorials {
	counter-reset: item;
}

#tutorials li {
	display: block;
	margin-bottom: 30px;
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

#tutorials a {
	text-decoration: none;
	font-style: normal;
	font-size: 20px;
	font-family: sans-serif;
	color: #c80;
}

#tutorials a:hover {
	border-bottom: 2px solid #c80;
}

#tutorials li:before {
	display: inline-block;
	width: 1em;
	float: left;
	margin-right: 15px;
	content: counter(item);
	counter-increment: item;
	font-size: 48px;

	text-align: center;
	color: #030;
	background-color: #6b4;
	border-radius: 50%;
	border: 1px solid black;
	transition: 150ms ease-out all;
}

#tutorials li:hover::before {
	background-color: #4bf;
	color: black;
}
