body {
	background-color: #eee;
}

#tutorials {
	counter-reset: item;
}

.tutorial-item {
	display: block;
	margin-bottom: 30px;
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

#tutorials a {
	text-decoration: none;
	font-style: normal;
	font-size: 20px;
	font-family: sans-serif;
	color: #c80;
}

#tutorials a:hover {
	border-bottom: 2px solid #c80;
}

.tutorial-item-number {
	width: 1em;
	float: left;
	margin-right: 15px;
	font-size: 48px;

	text-align: center;
	color: #030;
	background-color: #6b4;
	border-radius: 50%;
	border: 1px solid black;
}
