body {
	background-color: #eee;
}

#tutorials {
	counter-reset: item;
}

#tutorials li {
	display: block;
	margin-bottom: 30px;
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

#tutorials a {
	text-decoration: none;
	font-style: normal;
	font-size: 20px;
	font-family: sans-serif;
	color: #c80;
}

#tutorials a:hover {
	border-bottom: 2px solid #c80;
}

#tutorials li:before {
	display: inline-block;
	width: 1em;
	float: left;
	content: counter(item) ". ";
	counter-increment: item;
	font-size: 48px;
}
