<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/syntax.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
</head>
<body>
  <header>
    <div id="argon-banner"><a href="http://argonjs.io">
      <img src="{{ site.baseurl }}/images/ArgonIcon50x50.png" width="50" height="50" alt="Argon.js logo" /></a>
      <h1>Argon.js</h1>
    </div>
    <ul id="nav">
      <li class="active">
        <a href="{{ site.baseurl }}/index.html">Overview</a>
      </li>
      <li class="active">
        <a href="{{ site.baseurl }}/tutorials.html">Tutorials</a>
      </li>
      <li class="active">
        <a href="{{ site.baseurl }}/demos.html">Demos</a>
      </li>
    </ul>
  </header>
  <div id="content-wrapper">
    {{ content }}
  </div>
</body>
</html>
